name: movie_sample
description: 豆瓣电影flutter模仿

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  dio: 3.0.9
  #flutter packages pub run build_runner build
  json_annotation: ^3.0.1
  rxdart: ^0.23.1
  shared_preferences: ^0.5.6
  pull_to_refresh: ^1.5.8
  cached_network_image: ^2.0.0
  flutter_sticky_header: ^0.4.2
  fluttertoast: ^3.1.3

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^1.0.0
  json_serializable: ^3.2.5


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/ic_back.png
    - assets/images/ic_hot_play_unselected.png
    - assets/images/ic_hot_play_selected.png
    - assets/images/ic_find_movie_unselected.png
    - assets/images/ic_find_movie_selected.png
    - assets/images/ic_account_unselected.png
    - assets/images/ic_account_selected.png
    - assets/images/ic_empty_page.png
    - assets/images/ic_error_page.png
    - assets/images/ic_intent_error.png
    - assets/images/ic_splash.png
    - assets/images/ic_want_look.png
    - assets/images/ic_head_pla.png
    - assets/images/ic_setting.png
    - assets/images/ic_ticket.png
    - assets/images/ic_screen.png
    - assets/images/ic_movie_sheet.png
    - assets/images/ic_guess.png
    - assets/images/ic_movie_list.png
    - assets/images/ic_find_movie.png
    - assets/images/ic_play_time.png
    - assets/images/ic_seach.png
    - assets/images/ic_like.png
    - assets/images/ic_close_x.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
